<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="stream-switch-tabs">
            <span>Switch to...</span>
            <% @streamers.each do | streamer | %>
                <a class="button" href="<%= url_for controller: :display, action: :replace_main_stream, streamer: streamer[ :name ] %>"> <%= streamer[ :name ] %></a>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="main-stream">
            <object id="main-stream-player" type="application/x-shockwave-flash" data="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" width="70%">
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="true" />
                <param name="flashvars" value="channel=<%= @streamers.first[ :name ] %>&auto_play=true&start_volume=100" />
            </object>
            <span>
                <iframe id="chat" frameborder="0" scrolling="no" src="https://twitch.tv/<%= @streamers.first[ :name ] %>/chat?popout=" width="30%" style="position: absolute;">
                </iframe>
            </span>
        </div>
    </div>
    <% if @streamers.count > 1 %>
        <!-- Stream queue -->
        <div class="row">
            <div class="col-md-12" id="stream-queue" style="float: left;">
                <% @streamers[ 1..-1 ].each do | streamer | %>
                    <object type="application/x-shockwave-flash" data="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" width="19%">
                        <param name="allowScriptAccess" value="always" />
                        <param name="allowFullScreen" value="true" />
                        <param name="flashvars" value="channel=<%= streamer[ :name ] %>&auto_play=true&start_volume=0"/>
                    </object>
                <% end %>
            </div>
        </div>
    <% end %>

    <%= render 'partials/beta_tag' %>
</div>

<script>
    /*
     * Resizes the video player so the height is 9/16th of the width (16:9 aspect ratio).
     */
    var resize_main_player = function() {
        var main_player_width = $( '#main-stream-player' ).width();
        $( '#main-stream-player' ).css( { 'height': ( 9 * main_player_width / 16 ) + 'px' } );
        var chat_height = $( '#main-stream-player').height();
        $( '#chat' ).css( { 'height': chat_height + 'px' } );
    }

    // Whenever the window resizes, re-adjust the height of the main player div.
    $( window ).resize( function() {
        resize_main_player();
    } );

    // Set up an interval to update stream layouts on the page every 10 seconds.
    setInterval( function() {
        // Check if main stream is online
        $.get( 'is_main_stream_online', function( data ) {} );
    }, 10000);

    // Do the initial video player re-size.
    resize_main_player();
</script>