<!DOCTYPE html>
<html>
<head>
    <title>TwitchDeck</title>
    <%= render 'partials/google_analytics_init' %>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body class="noscroll">
<div id="main-container">
    <div id="stream-switch-tabs" class="flex_row">
        <div id="switch-label">Switch to...</div>
        <div id="streamer-buttons">
            <% @streamers.each_with_index do |streamer, position| %>
                <span class="stream-button button<%= '-inactive' if streamer['status'] === 'offline' %><%= '-active' if position === 0 && streamer['status'] === 'online' %>"><%= streamer['name'] %></span>
            <% end %>
        </div>
        <%= render 'partials/menu' %>
    </div>
    <div id="main-stream" class="flex_row">
        <div id="main-stream-container">
            <iframe id="main-stream-player" style="order: 0;" src="https://player.twitch.tv/?channel=<%= @streamers.first['name'] %>&auto_play=true&muted=false"></iframe>
            <% if @streamers.count.between? 2, 4 %>
                <iframe class="on-deck-stream" style="order: 1;" src="https://player.twitch.tv/?channel=<%= @streamers[1]['name'] %>&auto_play=true&muted=true"></iframe>
            <% end %>
            <% if @streamers.count.between? 3, 4 %>
                <iframe class="on-deck-stream" style="order: 2;" src="https://player.twitch.tv/?channel=<%= @streamers[2]['name'] %>&auto_play=true&muted=true"></iframe>
            <% end %>
            <% if @streamers.count == 4 %>
                <iframe class="on-deck-stream" style="order: 3;" src="https://player.twitch.tv/?channel=<%= @streamers[3]['name'] %>&auto_play=true&muted=true"></iframe>
            <% end %>
        </div>
        <div id="chat-container">
            <select id="chat-changer">
                <% @streamers.each do |streamer| %>
                    <option value="<%= streamer['name'] %>"><%= streamer['name'] %></option>
                <% end %>
            </select>
        </div>
    </div>
    <div id="stream-queue" class="flex_row">
        <% if @streamers.count > 4 %>
            <% @streamers[1..-1].each_with_index do |streamer, index| %>
                <iframe class="on-deck-stream" src="https://player.twitch.tv/?channel=<%= streamer['name'] %>&auto_play=true&muted=true" style="order: <%= index %>;"></iframe>
            <% end %>
            </div>
        <% end %>
        </div>

<script>
    $( document ).ready( function () {
        console.log( "Document is ready. Initializing Javascript." );
        twitchDeck.display.initialize( '<%= @streamers.to_json.html_safe %>' );
        twitchDeck.display.loadChat();
        twitchDeck.display.startTimers();

        if ( twitchDeck.display.streamers.length > 4 ) {
            // Resize the on-deck streams at startup to maintain aspect ratio.
            twitchDeck.display.resizeOnDeckStreams();
        }

        // Hide any alert messages at the top
        setTimeout( function () {
            $( '.alert' ).fadeOut( 1000 );
        }, 5000 )
    } );
</script>
</body>
</html>