<html>
<head>
    <title>TwitchDeck</title>
    <%= render 'partials/google_analytics_init' %>
</head>
<body>
<div class="flexbox column">
    <div id="stream-switch-tabs" class="flexbox row nowrap">
        <div>Switch to...</div>
        <div id="streamer-buttons" class="child-one">
            <% @streamers.each_with_index do |streamer, position| %>
                <a class="stream-button button<%= '-inactive' if streamer['status'] === 'offline' %><%= '-active' if position === 0 && streamer['status'] === 'online' %>" href="<%= url_for controller: :display, action: :replace_main_stream, 'streamer' => streamer['name'] %>"><%= streamer['name'] %></a>
            <% end %>
        </div>
        <%= render 'partials/beta_tag' %>
    </div>
    <div id="main-stream" class="flexbox row child-zero">
        <iframe id="main-stream-player" class="stream child-five" src="http://player.twitch.tv/?channel=<%= @streamers.first['name'] %>&auto_play=true&muted=false"></iframe>
        <iframe id="chat" class="child-one" frameborder="0" scrolling="no" src="https://twitch.tv/<%= @streamers.first['name'] %>/chat?popout="></iframe>
    </div>
    <% if @streamers.count > 1 %>
        <!-- Stream queue -->
        <div id="stream-queue" class="flexbox row">
            <% @streamers[1..-1].each do |streamer| %>
                <iframe class="stream on-deck-stream child-one width-20" src="http://player.twitch.tv/?channel=<%= streamer['name'] %>&auto_play=true&muted=true"></iframe>
            <% end %>
        </div>
    <% end %>
</div>

<script>
    document.ready = function () {
        initialize_stream_manager( '<%= @streamers.to_json.html_safe %>' );
    }
</script>
</body>
</html>