<html>
<head>
    <title>TwitchDeck</title>
    <%= render 'partials/google_analytics_init' %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="stream-switch-tabs">
            <span>Switch to...</span>
            <% @streamers.each do | streamer | %>
                <a class="button<%= '-inactive' if streamer[ 'status' ] == 'offline' %>" href="<%= url_for controller: :display, action: :replace_main_stream, 'streamer' => streamer[ 'name' ] %>"> <%= streamer[ 'name' ] %></a>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="main-stream">
            <iframe id="main-stream-player" src="http://player.twitch.tv/?channel=<%= @streamers.first[ 'name' ] %>&auto_play=true&muted=false" width="70%">
            </iframe>
                    <span>
                        <iframe id="chat" frameborder="0" scrolling="no" src="https://twitch.tv/<%= @streamers.first[ 'name' ] %>/chat?popout=" width="30%" style="position: absolute;">
                        </iframe>
                    </span>
        </div>
    </div>
    <% if @streamers.count > 1 %>
        <!-- Stream queue -->
        <div class="row">
            <div class="col-md-12" id="stream-queue" style="float: left;">
                <% @streamers[ 1..-1 ].each do | streamer | %>
                    <iframe class="on-deck-stream" src="http://player.twitch.tv/?channel=<%= streamer[ 'name' ] %>&auto_play=true&muted=true" width="19%"></iframe>
                <% end %>
            </div>
        </div>
    <% end %>

    <%= render 'partials/beta_tag' %>
</div>

<script>
    var streamers = [];
    /*
     * Resizes the video players so that there is no vertical scrolling needed.
     */
    var update_height = function () {
        var horizontal_scrollbar_height = 17;
        var available_space_height = $( window ).height() - horizontal_scrollbar_height - $( '#stream-switch-tabs' ).height() * 2;

        // Re-calculate heights and apply them.
        $( '#main-stream-player' ).height( available_space_height * 0.80 );
        $( '#chat' ).height( $( '#main-stream-player' ).height() );
        $( '.on-deck-stream' ).height( available_space_height * 0.19 );

        // Set the on-deck stream widths to maintain a 16:9 aspect ratio.
        $( '.on-deck-stream' ).width( $( '.on-deck-stream' ).height() * ( 16 / 9 ) );

        // Make sure the switch buttons don't disappear behind the beta tag.
        // TODO: Needs to be removed when we leave beta!
        $( '#stream-switch-tabs' ).width( $( window ).width() - $( '.beta' ).width() );
    }

    // Whenever the window resizes, re-adjust the height of the main player div.
    $( window ).resize( function () {
        update_height();
    } );

    // Set up an interval to update stream layouts on the page every 10 seconds.
    setInterval( function () {
        // Check if main stream is online
        $.get( 'are_streams_online', function ( data ) {
        } );
    }, 10000 );

    // Do the initial video player re-size.
    update_height();
</script>
</body>
</html>